@media only screen and (min-width: 1399px)
{
.container{max-width:1400px;}
.medium-container{max-width:1100px;}
.small-container{max-width:800px;}	
}
@media only screen and (min-width: 1199px)
{
.container{max-width:1200px;}	
.small-container{max-width:700px;}	
.medium-container{max-width:1000px;}	
}
@media only screen and (min-width: 1024px)
{
.ct-menu-section{display: flex; width: 100%; align-items: center; justify-content: space-between;}
.site-branding{ width: 20%;position:relative;}
.header-right{ width: 80%; display: flex; flex-direction: column; align-items: center; justify-content: flex-end;}
}
@media only screen and (max-width: 1024px)
{
ul#primary-menu li a{margin: 0;}
.mean-nav #menu-header-quick-links li.mobile-only{display:inline-block !important;}
.mean-nav #menu-header-quick-links li.desktop-only{display:none !important;}	
.mean-nav #menu-header-quick-links{background:var(--dark-color) !important;}	
.mean-nav #menu-header-quick-links{position:fixed;top:0px; padding:50px 0px;float: right !important;width: 320px;}		
.mean-container .mean-nav{position: absolute !important;right: 0 !important;top: -10px !important;background:transparent !important;}
#masthead .mean-container a.meanmenu-reveal{z-index: 9999;}
.bottom_right_wrap{display:none;}
.mean-container .mean-bar{width:auto;}
div#ct-menu {display: flex;flex-direction: row-reverse;justify-content: flex-end;}
.mean-nav #menu-header-quick-links>li{margin: 10px 0px !important;padding: 0px 30px !important;position:relative;}
.mean-nav #menu-header-quick-links a{margin: 0px !important;padding: 5px 0px !important;font-size: 18px !important;}	
ul#menu-header-quick-links li.only-mobile-view{display:block !important;}
a.mean-expand,.mean-nav  .mega-menu-toggle {display: none;}
.mean-nav  #menu-header-quick-links>li{width: 100%;float: left !important;}
ul#menu-header-quick-links li a{font-size:16px !important;}
.mean-container .mean-nav{max-width:auto;float:right !important;top:15px;}
ul#menu-header-quick-links li a{color:var(--light-color) !important;}
.mean-nav .main-navigation #menu-header-quick-links>li.menu-item-has-children a::before {display: none !important;}
.mean-nav .main-navigation #menu-header-quick-links>li.menu-item-has-children a.mean-expand {position: absolute !important;margin:2px 0px !important;right:30px;}
.mean-nav .main-navigation #menu-header-quick-links>li.menu-item-has-children ul {background: transparent !important;padding-left: 20px;margin-top:5px !important;position:relative !important;}
.mean-nav .main-navigation #menu-header-quick-links>li.menu-item-has-children ul.sub-menu li a {font-size: 17px !important;padding: 3px 0px !important;margin: 2px !important;}
.mean-nav .main-navigation #menu-header-quick-links>li.menu-item-has-children ul.sub-menu li {width: 100%;padding: 3px 0px !important;margin: 0px !important;}		
.mean-nav .main-navigation #menu-header-quick-links a:hover{color:var(--primary-color) !important;}
.button-link{padding:10px 15px;}
.values_map_row .image_item{margin-right:0px;}
.inner_section .home_banner_inner_wrap{grid-template-columns: auto;}
}
@media (max-width: 1100px){
ul#primary-menu > li > a{padding: 0px 5px;}
ul#primary-menu li a{font-size:14px;}
}
@media (max-width: 1030px){
.blog article, .blog .blog_post.cw_blog, .blog article .blog_post.cw_blog a, .category article, .category .blog_post.cw_blog, .category article .blog_post.cw_blog a {height: 100%;}
.blog article .blog_post.cw_blog a , .category article .blog_post.cw_blog a{display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;}
}
@media (max-width: 991px) 
{
.boxed_links_section-block .boxed_links_row .boxed_link{width: calc(32.8% - 10px);}
.row.footer_top_row [class*="col-"]:first-child { display: flex; align-items: center; justify-content: center; }
.footer_top_row img {max-width: 100px;margin-right: 20px;}
.footer_logo_wrap{margin-bottom:0px;}
.footer_top_row .button_wrap{margin-top:20px;}	
.footer_middle_menus{flex-direction: row; flex-wrap: wrap;}
.footer_middle_menus .footer_col{width:50%;padding:0px;}
.footer_img_wrap{justify-content:center;}
.footer_top_row .footer_content_wrap { padding-left: 0px; margin-bottom: 20px; }
.footer_link_item > a{display: block;width: 100%;}
.footer_link_item{flex-direction: column;}
.footer_top_row .button_wrap .button-link-Secondary{width:auto;padding: 10px 30px;}
.row.footer_bottom_row, .footer_img_wrap, .boxed-item:last-child {display: none;}
.footer_content_wrap{padding-top:0px;margin-bottom:0px;}
.footer_middle_row, .partners_row{border:unset;}
.footer_middle_menus .footer_col {margin-bottom: 40px;}
button.footer_menu_more{display:block !important;}
.mobile_only{display:block;}
button.footer_menu_more { background-color: var(--border-grey-color); border: unset; width: 100%; margin: 0 auto;position:relative;}
button.footer_menu_more:after {content: ''; position: absolute; width: 100vw; height: 100%;background-color: var(--border-grey-color); left: 50%; top: 0; transform: translateX(-50%); z-index: -1;}
.row.footer_bottom_row {margin-top: 25px;}
.partner_links_wrap{justify-content: flex-start;}
.two_column_title_section-block .bottom_section{margin-top:20px}
.two_column_title_solutions_section-block .bottom_section .content_wrap_left::before{width:40%;}
.two_column_title_section-block div.second_title_box:after{left: 50%;transform: translateX(-50%);}
}
@media (max-width: 980px) 
{
/* General */	
.container{max-width:880px;}
.container-medium{max-width:900px;}	
.container-sml{max-width:800px;}
.blog_container{max-width:750px;}
#canvas{display:none;}
}

@media (max-width: 860px) 
{
.container{max-width:760px;}	
h2,h2 a{font-size:33px;}
h3,h3 a{font-size:25px;}
/* h4,h4 a{font-size:17px;} */
h5,h5 a{font-size:17px;}
}

@media (max-width: 1024px)
{
header#masthead{position:relative;top:0px !important;padding:21px 0px;z-index:999;}
#masthead .mean-container a.meanmenu-reveal{padding:0px;}
.mean-bar {width: auto !important;margin-left: 10px;}
.top_right_wrap > div {margin-right: 10px;}
.top_right_wrap{padding-bottom:0px;}
.top_menu_wrap {display: none;}
.mybtg_wrap { justify-content: space-between; width: 100%; padding: 10px 10px; margin: 0px; }
body.logged-in.admin-bar header#masthead{top:0px !important;}
.mean-container a.meanmenu-reveal span,.know_us_more_section-block .inner_section::after{display:none !important;}
.nav_trigger_wrap {display: none;}
.ct-menu-section {margin-top: 0px;text-align:center;display:flex;align-items: center;justify-content: space-between;}
ul.mega-sub-menu{padding:0px !important;}
.mean-nav #menu-header-quick-links > li{width:100%;}
.mean-nav #menu-header-quick-links > li > ul.sub-menu{min-width:100%;}
.mean-nav #menu-header-quick-links > li a{color:var(--light-color) !important;text-transform: capitalize;}
.mean-nav #menu-header-quick-links{height:100vh;}
div#ct-menu{justify-content: flex-end;width: calc(100% - 80px);padding-right: 60px;}
div.mean-container .mean-nav{position: absolute !important; background-color: var(--light-color) !important;z-index:-1;position: absolute !important; right: 0 !important; top: 80px !important; z-index: -1; width: 100vw; height: calc(100vh - 80px);}
div.mean-container .mean-nav{position:absolute;transition:all 0.4s linear;left:100% !important;transform: translateX(0%) !important;display: flex;flex-direction: column;justify-content: flex-start;align-items: center;padding: 80px 20px 0px 20px;}
div#ct-logo, .top_right_wrap {z-index: 9999999;}
div.mean-container .mean-nav.sliderLeft {left:100% !important;transform: translateX(-100%) !important;transition:all 0.4s linear;margin-left:-1px;overflow-y: scroll;overflow-x: hidden;}
ul#primary-menu > li:last-child a{margin-left:0px;}
ul#primary-menu li.current-menu-item a:after, ul#primary-menu li a:after{display:none;}
.mean-nav ul#primary-menu li a{color:var(--dark-color) !important;}
.mean-nav ul#primary-menu li a:hover{color:var(--primary-color) !important;}	
.mean-nav ul#primary-menu li ul.sub-menu { padding: 0px !important; margin: 20px 0px 0px 0px !important;float:left;background-color:var(--primary-color);}
.mean-nav ul#primary-menu li ul.sub-menu li{margin:0 !important;padding:5px 0px !important;}	
ul#top-header li{padding:0px;}
.mean-nav ul#primary-menu li ul.sub-menu li a{color:var(--light-color) !important;font-weight:300;padding: 0px 10px !important;opacity:1;font-size:16px !important;height:auto !important;}
.mean-nav ul#primary-menu li ul.sub-menu li a:hover{color:var(--light-color) !important;}
a.meanmenu-reveal.meanclose { z-index: 9999; background: transparent !important; color: var(--dark-color) !important; }
ul#primary-menu li.menu-item-has-children > a:after{display:none;}
ul#top-header li::before{display: none;}
ul#top-header > li > a { color: var(--light-color) !important; padding: 10px; border: unset; }
ul#primary-menu, ul#top-header {display: flex;flex-wrap: wrap;}
ul#primary-menu li, ul#top-header li {width: 33.3%;}
ul#primary-menu li a, ul#top-header li a {border: unset;}
.mean-nav ul#primary-menu li.button-link {display: none;}
.menu-top-menu-container, .menu-main-menu-container { width: 100%; }
ul#primary-menu li.services_final_link{margin-right: 33.3%;}
.mean-nav ul#primary-menu li.solutions_first_link:before { content: ''; position: absolute; width: 0%; height: 1px; background-color: var(--dark-grey-color); left: 50%;top:-20px;transform:translatex(-50%);transition:all 0.2s linear;}
.mean-nav ul#primary-menu li.solutions_first_link:after { content: ''; position: absolute; width: 0%; height: 1px; background-color: var(--dark-grey-color); left: 50%;bottom:20px;transform:translatex(-50%);transition:all 0.2s linear;}
nav.mean-nav.sliderLeft ul#primary-menu li.solutions_first_link:after, nav.mean-nav.sliderLeft ul#primary-menu li.solutions_first_link:before{width:1000%;transition-delay:0.4s;transition:all 0.2s linear;}
ul#primary-menu li.services_final_link{border:unset;}
.top_right_wrap .mybtg_wrap {display: none;}
.top_search_wrap {display: none;}
svg.close_icon { display: flex; align-items: center; justify-content: center;}
ul.sub-menu {display: none;}
.mean-nav ul#primary-menu li a.mean-expand { display: none !important; }
.mean-bar { position: fixed; top: 0; right: -1px; display: block; width: 80px !important; height: 80px !important; float: unset !important; left: unset !important; display: flex; align-items: center; justify-content: center; }
ul#top-header > li > a{color:var(--dark-color) !important;}
.mybtg_wrap::before{display:none;}
.mybtg_wrap a.my_btg { background-color: white; border: 1px solid var(--dark-grey-color); padding: 10px 20px 10px 20px; }
div.mean-container a.meanmenu-reveal svg.hamburger{overflow:visible;}
div.mean-container a.meanmenu-reveal svg.hamburger rect{position: relative !important;transform:translatex(0px);}
div.mean-container a.meanmenu-reveal svg.hamburger rect:first-child{transition:all 0.5s linear;}
div.mean-container a.meanmenu-reveal svg.hamburger rect:nth-child(2){transition:all 0.6s linear;}
div.mean-container a.meanmenu-reveal svg.hamburger rect:nth-child(3){transition:all 0.8s linear;}
div.mean-container a.meanmenu-reveal.meanclose svg.hamburger rect:first-child{transition:all 0.5s linear;}
div.mean-container a.meanmenu-reveal.meanclose svg.hamburger rect:nth-child(2){transition:all 0.6s linear;}
div.mean-container a.meanmenu-reveal.meanclose svg.hamburger rect:nth-child(3){transition:all 0.7s linear;}
div.mean-container a.meanmenu-reveal.meanclose svg.hamburger rect {transform:translatex(380px);}
div.mean-container a.meanmenu-reveal svg.close_icon{position: relative !important;transform:translatex(380px);transition:all 0.2s linear;overflow:visible;}
div.mean-container a.meanmenu-reveal.meanclose svg.close_icon { transform:translatex(-15px);transition:all 0.2s linear;}
div.mean-container a.meanmenu-reveal svg.close_icon rect{transform:translate(0px, 40px) rotate(0deg);transform-origin:top;}
div.mean-container a.meanmenu-reveal.meanclose svg.close_icon rect:first-child{ animation-name:first-childanime;animation-duration: 1s;animation-fill-mode: forwards;}
div.mean-container a.meanmenu-reveal.meanclose svg.close_icon rect:nth-child(2){animation-name: second-childanime;animation-duration: 1s;animation-fill-mode: forwards;}
@keyframes first-childanime { 0% {transform:translate(300px, 40px) rotate(0);} 50% {transform:translate(0px, 40px) rotate(0);} 100% {transform:translate(0px, 40px) rotate(45deg);} }
@keyframes  second-childanime { 0% {transform:translate(300px, 40px) rotate(0);} 50% {transform:translate(-5px, 40px) rotate(0);} 100% {transform:translate(-5px, 40px) rotate(-45deg);} }
div.mean-container a.meanmenu-reveal.meanclose svg.close_icon rect:nth-child(2){}
div.mean-container a.meanmenu-reveal{position: relative !important; top: 0px !important;  left: 0px !important;transition:all 0.2s linear;}
.mean-bar svg rect { right: 0;height: 10px; background-color: #fff; transition: background-color .7s,transform .5s cubic-bezier(.19,1,.22,1); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#masthead .mean-container a.meanmenu-reveal { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; border-radius: 0px; }
div.mean-container a.meanmenu-reveal.meanclose{background-color:var(--light-color) !important;}
.mean-nav ul#primary-menu li a, .mean-nav ul#top-header li a {display: block !important; text-align:left; font-size: 14px; width: 100% !important; font-weight: 800;text-transform: capitalize;padding: 20px 10px 40px 10px;white-space: nowrap;background-color:transparent;}
header#masthead img.custom-logo{width:100px;}	
.mean-bar, .top_right_wrap {width: 100%;}
.mean-nav ul#top-header li a {font-size: 14px;color: var(--dark-grey-color) !important;}
.mean-nav ul#primary-menu li a:before, .mean-nav ul#top-header li a:before { content: ''; width: 7px; height: 7px; background-color: var(--primary-color); display: block; position: absolute; border-radius: 7px; top: 8px; }
nav.mean-nav ul#top-header li a:before{background-color:var(--dark-grey-color);}
.mean-nav ul#primary-menu li a:hover, .mean-nav ul#top-header li a:hover, div.mean-container .mean-nav ul#primary-menu li.current_page_item a{background: transparent;color: var(--primary-color) !important;}
.top_right_wrap{justify-content: center;}
.trp-language-switcher::before{display:none;}
.footer_middle_menus h6{font-size:16px;}
body{font-size: 16px;}
.innerpage_banner{padding:60px 0px;}
.innerpage_banner h1{font-size:38px;line-height:43px;}
.homepage_banner_section-block .button-link-Tertiary{writing-mode: horizontal-tb;}
.homepage_banner_section-block .inner_section .first_col::before{display:none;}
.homepage_banner_section-block a.button-link.button-link-Tertiary span {transform: unset;}
.homepage_banner_section-block .button-link-Tertiary svg, .homepage_banner_section-block .button-link-Tertiary img { margin-top: 0px;  transform: rotate(270deg); transition: transform 0.2s linear; margin-left: 40px;}
.recent_articles_section-block .first_article_wrap .article_wrap{width:70%;}
.recent_articles_section-block .recent_articles_wrap .article_wrap{padding:25px 15px;}
button.footer_menu_more {display: none;}
.features_and_value_additions_section-block .values_image_wrap ul.values_wrap li{padding: 0px 30px 15px 0px;}
.features_and_value_additions_section-block .top_features_wrap .features_wrap .features_item{padding: 45px 70px 45px 40px;}
.boxed_links_section-block .boxed_links_row .boxed_link a{padding: 30px 20px 15px 20px;}
.three_column_title_section-block .title_image_wrap img { object-fit: cover; object-position: center; }
.three_column_content_list_section-block {padding-top: 0px;}
.download_resources_section-block .resources_outer{display:unset;}
.two_column_title_section-block .second_title_box{width:auto;}
.two_column_title_section-block .second_title_box .title_content_wrap .title_content_inner{max-width:100%;padding: 0px 20px;}
ul.nav.nav-tabs li a{padding: 15px;}
ul.nav.nav-tabs li:last-child a { border: unset; }
.btg_protocol_content_wrap h5{width:50%;}
.btg_protocol_block a.close_button{display:flex;}
.btg_protocol_block h5, .btg_protocol_block.protocol_min.hide h5{font-size:14px;}
.btg_protocol_content_wrap{padding:10px 0px;}
.extended_image_with_content_section .row.row-reverse .content_wrap, .extended_image_with_content_section .row .content_wrap{max-width:100%;z-index:99;}
.image_with_short_content_section .content_wrap{width:100%;}
.extended_image_with_content_section .image-wrap img, .image_with_short_content_section .image-wrap img{margin-top:40px;}
.big_text_with_content_section .content_wrap h4{padding-right:0px;text-align:center;margin-top:35px;}
.team_details{width:33.3%;}
.blog [class*="col-"], .category [class*="col-"] {padding-right: calc(var(--bs-gutter-x) * .5);padding-left: calc(var(--bs-gutter-x) * .5);}
.blog_post.cw_blog .blog_thumb_wrap.cw_thumb_wrap{min-height:auto;}
a.file_wrap{display: flex;align-items: center;}
.full_width_content_with_services_links_section-block .service_links_row .service_link a{padding:10px 14px;}
.background-box-left-animation::before, .background-box-right-animation::before{background-size:100%;}
.recent_articles_section-block .title_content_wrap{padding-top: 180px;}
.btg_values_section-block .cta_wrap .button_wrap a, .btg_values_section-block .cta_content_wrap{padding:15px;}
.row.values_row {margin-top: 40px;}
.homepage_banner_section-block .inner_section .second_col:after { width: 100vw; height: 100%; background-color: var(--primary-light-color); z-index: -1; left: 50%; transform: translatex(-50%); }
.inner_section{background-color: var(--primary-color);z-index: 2;}
.inner_section .third_col{display:none;}
.three_column_title_section-block .title_boxes_wrap .title_content_wrap{padding: 80px 20px 20px 20px; background-image: url(../../../wp-content/uploads/2022/09/btg_tisue.jpg); background-repeat: no-repeat; background-size: cover;background-position:right;}
.three_column_title_section-block .title_content_wrap.second_title_box { background-image: unset; background-color: var(--primary-light-color);position:relative;padding:30px;}
.three_column_title_section-block .title_content_wrap.second_title_box h4{margin-bottom:0px;font-size: 18px;font-weight: 400;text-align:left;}	
.three_column_title_section-block::before{display:none;}
.three_column_title_section-block .title_content_wrap.second_title_box:after { content: ''; position: absolute; width: 100%; height: 230px; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); background-size: contain; background-repeat: no-repeat; background-position: bottom center; z-index: -1; bottom: -140px; right: 0px; opacity:0.1;}
.two_column_title_section-block .second_title_box .title_content_wrap{background:unset;}
.two_column_title_section-block .second_title_box:after { content: ''; position: absolute; width: 100vw; height: 100%; background-color: var(--primary-light-color); top: 0; left: 10%; transform: translateX(-10%); z-index: -1; }
.two_column_title_section-block .first_title_box:after { content: ''; position: absolute; width: 100vw; height: 100%; background-image: url(../../../wp-content/uploads/2022/07/Creping-Excellence-page.jpg); z-index: -1; left: 50%; transform: translatex(-50%); }
.two_column_title_section-block .second_title_box .title_content_wrap{padding:20px 0px;}
.three_column_title_section-block .bottom_section {margin-bottom: 0px;}
.three_column_title_section-block .title_image_wrap{display:none;}
.three_column_title_section-block .bottom_row .col-md-12 > .content_wrap{width:100%;}
.two_column_title_solutions_section-block .bottom_section .bottom_row{flex-direction:column-reverse;}
.two_column_title_solutions_section-block .bottom_section .content_wrap_left::before { background-image:unset !important;background-color:var(--border-grey-color); left: 50%; width: 100vw; transform: translatex(-50%); z-index: -1;bottom:0;height:100%;}
.two_column_title_section-block .bottom_section .content_wrap_left{padding: 40px 0px 0px 0px;position: relative;}
.download_resources_section-block .resources_outer .resources_links.open_resources_links{border:unset;}
.download_resources_section-block .resources_outer .resources_links .resources_link{padding:0px;}
.download_resources_section-block .resources_outer .resources_links{padding:0px;}
.download_resources_section-block .resources_outer .resources_links .resources_link{margin-bottom:20px;}
.download_resources_section-block h3{text-align: left; margin-bottom: 0px;}
.three_column_title_section-block .top_row.row [class*="col-"] {width:100%;}
.three_column_title_section-block .title_boxes_wrap{max-width:100%;grid-template-columns: 4fr 4fr;}
.two_column_title_solutions_section-block.two_column_title_section-block .bottom_section .content_wrap_right {padding: 20px 50px 20px 0px;}
.two_column_title_solutions_section-block .bottom_section .bottom_row [class*="col-"] {width: 100%;}
.two_column_title_solutions_section-block .top_section .top_row [class*="col-"]{width:50%;}
.two_column_title_section-block .second_title_box{position:relative;}
.trp-language-switcher > div > a.trp-ls-shortcode-disabled-language{font-size:24px;}
.trp-language-switcher > div > a > img{width:30px;height:auto;}
header.fixed_header {position: fixed !important; width: 100%; z-index: 99;}
}
/* @media (max-width: 1024px) and (min-width: 992px)
{
.mean-container .mean-bar{display:none;}
} */
@media (max-width: 780px)
{
h1, h1 a{font-size: 36px;}
.container{max-width:700px;}
section {padding: 30px 0px !important;}
section.no-padding{padding:0px !important;}
.text_image_section-block {padding-top: 0px;}
header#masthead{position:relative;}
body{font-size: 17px;}
.tns-outer .tns-nav{right: 5%;}
/* .buttons_wrap .button_inner_wrap{text-align:center;} */
.home h1 {font-size: 30px;}
/* .home h2{text-align:center;} */
.article_title_wrap h4 { line-height: 25px; }
.values_map_row .image_item{margin:auto;}
.full_width_content_with_services_links_section-block .content_wrap{padding-right:0px !important;}
.full_width_content_with_services_links_section-block .service_links_row{grid-template-columns:auto;border:unset;}
.recent_articles_section-block .recent_articles_wrap{grid-template-columns:6fr 6fr;}
.recent_articles_section-block .first_article_wrap .article_wrap{width:100%;border:0px;padding:0px;}
.inner_section .first_col::after{display: none;}
.home_banner_inner_wrap {text-align: center;}
.recent_articles_section-block .recent_articles_wrap .button_wrap a{padding-left: 0px;}
.three_column_title_section-block .top_row.row {flex-direction: column-reverse;}
.three_column_title_section-block .title_boxes_wrap > div { display: flex; flex-direction: column; align-items: flex-start; justify-content: center;padding: 20px 20px 20px 20px;}
.three_column_content_list_section-block .content_boxes_row{padding:10px 0px;}
.three_column_content_list_section-block {background-color: var(--border-grey-color);}
.features_and_value_additions_section-block .top_features_wrap .features_wrap .features_item{border: 1px solid var(--light-grey-color);border-bottom-width: 0.5px !important;}
.features_and_value_additions_section-block .top_features_wrap .features_wrap > div:last-child{border-right:1px solid var(--light-grey-color);}
section.three_column_title_section-block, section.features_and_value_additions_section-block {overflow: hidden;}
section.three_column_title_section-block{padding-top:0px !important;}
.recent_articles_section-block .recent_articles_wrap{grid-template-columns:1fr;margin-bottom:10px;}
.features_and_value_additions_section-block .top_features_wrap .content_wrap p {margin-bottom: 0px;}
.background-box-left-animation::before{background-position: top right; background-size: 100%;}
.recent_articles_section-block .title_content_wrap{padding-top: 0px;padding-bottom:0px;}
.background-box-left-animation::after{display:none;}
.button-link-Tertiary{writing-mode: horizontal-tb;}
.download_assets_section-block .button_wrap{margin-top:40px;}
section.homepage_banner_section-block {height: auto;padding-top:130px !important;}
.homepage_banner_section-block::before{background-size:contain;}
.full_width_content_with_services_links_section-block .service_links_row .service_link a{padding: 10px 10px 0px 10px;}
.recent_pressrelease_section-block div.tns-inner { margin: 0px !important; }
a.button-link.button-link-Tertiary span { transform: unset; }
.btg_values_section-block .tns-controls{top:-25px;}
.row.partners_row .footer_content_wrap {display: none;}
.three_column_title_section-block .title_boxes_wrap, .three_column_content_list_section-block .content_boxes_row, .features_and_value_additions_section-block .top_features_wrap .features_wrap, .features_and_value_additions_section-block .values_image_wrap, .three_column_title_section-block .bottom_content_wrap{grid-template-columns: auto;padding:0px;}
.three_column_content_list_section-block h4 {margin-bottom: 15px;}
.three_column_content_list_section-block { padding-bottom: 20px !important; }
.features_and_value_additions_section-block .values_image_wrap .image_wrap img{margin-top:20px;}
.boxed_links_section-block .boxed_links_row .boxed_link { width: calc(50% - 10px); padding: 0px; margin-right: 20px;margin-bottom: 20px;}
.full_width_content_with_services_links_section-block .service_links_row{grid-template-columns: 1fr 1fr;}
.full_width_content_with_services_links_section-block .lines_wrap { width: 200px; right: 0px !important; opacity: 0.5;top: 50%; transform: translateY(-50%); }
.recent_events_section-block .event_date_image_wrap{align-items: flex-end;}
.btg_values_section-block h1 {font-size: 40px;}
.full_width_content_with_services_links_section-block .lines_wrap svg{right:0px;}
section#homeServices {overflow: hidden;padding-bottom:0px !important;}
section.recent_articles_section-block{padding-top:10px !important;}
.recent_articles_section-block .recent_articles_wrap .article_wrap, .recent_articles_section-block .recent_articles_wrap > div:nth-of-type(2) { padding: 10px 0px; background: transparent;}
.recent_articles_section-block .recent_articles_wrap .article_wrap h6 a, .recent_articles_section-block .recent_articles_wrap .article_wrap h6{color:var(--dark-color);display:unset;}
.recent_articles_section-block .recent_articles_wrap .article_wrap h6 a img{filter:invert(1);margin-top:0px;margin-left:10px;max-width: 20px;}
.recent_articles_section-block .first_article_wrap .article_wrap h3, .first_article_wrap .article_wrap h3 a{margin-bottom:0px;line-height:1.3;}
.background-box-left-animation.animation_active::before{display:none;}
.recent_articles_section-block.recent_events_section-block .first_article_wrap .article_wrap{padding: 0px;background-color: transparent;}
.recent_events_section-block .recent_articles_wrap > div.article_wrap:nth-child(odd) {padding: 20px 0px;}
.recent_events_section-block .recent_articles_wrap > div.article_wrap:nth-child(odd):before, .recent_events_section-block .recent_articles_wrap > div.article_wrap:nth-child(even):before { content: ''; position: absolute; width: 100vw; height: 100%; background-color:var(--primary-color) !important; left: 50%; transform: translatex(-50%); top: 0; z-index: 0;}
.recent_events_section-block .recent_articles_wrap > div.article_wrap:nth-child(even):before{background-color: var(--primary-light-color) !important;}
.recent_articles_section-block .recent_articles_wrap .article_wrap{overflow:visible;}
.recent_events_section-block .recent_articles_wrap > div.article_wrap:nth-child(even){padding: 20px 0px;}
.recent_events_section-block .title_content_wrap .title_content, .recent_events_section-block .title_content_wrap .title_content > * {text-align: left;}
.recent_events_section-block .recent_articles_wrap .article_wrap h4 a, .recent_events_section-block .recent_articles_wrap .article_wrap h4{margin-bottom:0px;}
.recent_events_section-block::before, .background-box-right-animation::after{display:none;}
.recent_articles_section-block .recent_articles_wrap .article_wrap.arrow-right-animation:hover:after{display:none;}
.button_wrap .button-link-Tertiary img { content: url(../../../wp-content/uploads/2022/07/horizontal-arrow.svg); width: 25px; margin-top: 0px; }
.boxed_links_section-block .boxed_links_row .boxed_link:nth-child(even) {margin-right: 0px;}
.boxed_links_section-block .boxed_links_row .boxed_link a{padding: 30px 20px 15px 20px;}
.boxed_links_section-block .boxed_links_row.Center-alignment{justify-content: flex-start;}
.features_and_value_additions_section-block::before{height: 50%;}
.features_and_value_additions_section-block .top_features_wrap{padding-bottom: 40px;}
.two_column_title_section-block .top_section { overflow: unset; position: relative; height: auto; }      
.two_column_title_section-block .second_title_box { position: relative; width: 100%; height: 100%; }
.two_column_title_solutions_section-block .bottom_section .solutions_wrap{width:100%;}
.download_resources_section-block .resources_outer{grid-template-columns: repeat(1, 1fr);padding-bottom:50px;}
.inner_section .content_wrap{padding: 30px 0px;}
.homepage_banner_section-block .inner_section .second_col .content_wrap p{font-size: 18px;margin-bottom:0px;}
.standard_content_section .content_wrap { margin-bottom: 50px; }
.two_column_title_solutions_section-block .bottom_section .content_inner_wrap_left{padding-top:30px;}
.full_width_content_with_services_links_section-block .service_links_row .service_link{position: relative;}
.full_width_content_with_services_links_section-block .service_links_row .service_link:after { content: ''; position: absolute; background-color: var(--border-grey-color); width: 1000%; height: 1px; bottom: 0px; left: 0px; left: 50%; transform: translateX(-50%); }
/* .full_width_content_with_services_links_section-block .service_links_row .service_link:after { content: ''; position: absolute; width: 200vw; height: 1px; background-color: var(--border-grey-color); left: 50%; transform: translateX(-50%); bottom: 0px;z-index: 3;} */
.extended_image_with_content_section .row {flex-direction: column-reverse;}
.extended_image_with_content_section .image-wrap img{margin-bottom:20px;}
.media_gallery_section-block .media_item_container{flex-wrap: wrap;}
.two_column_title_solutions_section-block.two_column_title_section-block .bottom_section .content_wrap_right{padding: 0px 0px 20px 0px;}
.about_tab_title  ul.nav.nav-tabs {flex-direction: row;flex-wrap:wrap;flex-wrap: nowrap;overflow: scroll;}
.about_tab_title ul.nav.nav-tabs li{width:180px;margin:0px;}
.about_tab_title ul.nav.nav-tabs li a{width:180px;border-right: 1px solid var(--primary-color);}
.tab-pane{padding:0px !important;}
.btg_protocol_content_wrap .protocol_content {flex-direction: column;}
.btg_protocol_content_wrap h5{width: 100%;text-align: left;}
.image-hide-mobile img {display: none;}
.image-hide-mobile.extended_image_with_content_section h4:after { width: 1000%; height: 1px; background-color:var(--light-grey-color); content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0px; z-index: -1; }
.image-hide-mobile.extended_image_with_content_section h4{position:relative;padding-bottom: 20px; margin-bottom: 20px;}
.team_details{width:100%;padding-bottom:45px;}
.extended_image_with_content_section .image-wrap img, .image_with_short_content_section .image-wrap img{margin-top:0px;}
.download_wrap_container{flex-wrap: wrap;}
.download_wrap {margin-right: 0px; width: 50%; }
.media_gallery_section-block::before{display:none;}
.blog #innerpage_banner:before, .category #innerpage_banner:before, .post-type-archive-careers #innerpage_banner:before, .post-type-archive-pressrelease #innerpage_banner:before, .page-template-normal #innerpage_banner:before, .tax-pressrelease-category #innerpage_banner:before, .search #innerpage_banner:before, .tax-career_category #innerpage_banner:before { position: absolute; z-index: -1; top: 70%; left: 0px; width: 50%; height: 200px; content: ''; opacity: .3; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); background-size: contain; background-repeat: no-repeat; }
.recent_articles_section-block .recent_articles_wrap .article_wrap h6 a img {content: url(../../../wp-content/uploads/2022/07/horizontal-arrow-svg.svg);filter: unset;}
.row.values_row {padding-top: 0px;}
.boxed-item {width: 50%;}
.copyright_content { padding: 20px 0px 35px 0px; text-align: center; }
.three_column_content_list_section-block .content_boxes_row > .content_box:first-child {margin-bottom: 15px;}
.features_and_value_additions_section-block.Top-shape .top_features_wrap .features_wrap::after{bottom:-13%}
.image_wrap {grid-row: 1;margin-bottom: 30px;}
.features_and_value_additions_section-block .values_image_wrap ul.values_wrap li{border:unset;}
.features_and_value_additions_section-block .bottom_values_wrap .content_wrap{margin-bottom:20px;}
.download_resources_section-block::before, .download_resources_section-block::after{display:none;}
.features_and_value_additions_section-block.Bottom-shape::after { position: absolute; top: 0; content: ''; transform: unset; width: 100%; height: 100%; text-align: center; opacity: 0.1; background-size: contain; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); background-repeat: no-repeat; background-position: 0px 56%; z-index: -2; }
.two_column_title_section-block .bottom_section .content_wrap_right{padding:0px;}
section.protocol_min .protocol_para{padding:0px;margin-top:20px}
.btg_protocol_content_wrap {flex-direction: column;padding: 15px 0px;background-color:transparent;}
.btg_protocol_block a.close_button { border: unset; padding: 0px; position: absolute; left: 0px; }
.btg_protocol_block h5, .btg_protocol_block.protocol_min.hide h5{padding-left:45px;}  
.btg_protocol_block.hide.protocol_min a.close_button img { width: 25px; max-width: 20px; padding: 0px; }
.btg_protocol_block a.close_button img{width: 45px;padding:10px;}
.btg_protocol_block.hide h5 {padding:0px 0px 0px 40px;}
.protocol_para{padding:0px;}
.btg_protocol_block.hide h5{font-size:21px;}
.btg_protocol_content_wrap:after { content: ''; position: absolute; width: 100vw; height: 100%; background-color: #e2001a1c; left: 50%; transform: translateX(-50%); top: 0; z-index: -1; }
.hide .protocol_para{height:0px;}
.protocol_para{height:100%;}
.protocol_min.hide .protocol_para {height: 100%;}
section.about_tab_title{padding-top:60px !important;background-image: url(../../../wp-content/uploads/2022/08/BTG-gray-line-light.svg); background-size: 50%; background-position: top -86px center; background-repeat: no-repeat;}
.btg_protocol_block{padding-bottom:0px !important;padding-top:0px !important;}
.big_text_with_content_section .content_wrap h4{text-align:center;padding:0px;}
.events_listing_content .image_section{margin-bottom:0px;margin-top:50px;}
.post-type-archive-events section#innerpage_content:before, .tax-events_category section#innerpage_content:before { top: unset; bottom:56px;right: 0px;content: ''; text-align: right; opacity: 0.1; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); background-size: 250px;background-repeat: no-repeat;}
.blog .innerpage_content .row [class*="col-"]:first-child, .category .innerpage_content .row [class*="col-"]:first-child{width:100%;}
.blog_post.cw_blog .blog_thumb_wrap.cw_thumb_wrap{min-height: auto;}
.blog .innerpage_content .row [class*="col-"]:first-child article .blog_post a, .category .innerpage_content .row [class*="col-"]:first-child article .blog_post a{background-color:transparent;}
.blog .innerpage_content .image_section, .category .innerpage_content .image_section{margin-bottom:0px}
.blog .innerpage_content .row [class*="col-"]:first-child article .blog_post, .category .innerpage_content .row [class*="col-"]:first-child article .blog_post{border:unset;}
body.blog section.innerpage_content .container [class*="col-"]:nth-child(even) a, .category section.innerpage_content .container [class*="col-"]:nth-child(even) a, body.blog section.innerpage_content .container [class*="col-"]:nth-child(odd) a, .category section.innerpage_content .container [class*="col-"]:nth-child(odd) a{background-color:transparent;padding:0px;margin-bottom:20px;}
.blog .innerpage_content .row [class*="col-"]:first-child article .blog_post a, .category .innerpage_content .row [class*="col-"]:first-child article .blog_post a{padding:0px;}
.blog_post.cw_blog .blog_thumb_wrap.cw_thumb_wrap{color: var(--dark-heading-color);}
.blog .blog_post.cw_blog img, .category .blog_post.cw_blog img {content: url(../../../wp-content/uploads/2022/07/horizontal-arrow-svg.svg);margin-top: 0px;margin-left:10px;width:20px;}
.blog [class*="col-"]:first-child .blog_post.cw_blog:first-child img, .category [class*="col-"]:first-child .blog_post.cw_blog:first-child img{width:40px;margin-left:0px;}
.blog_post.cw_blog .blog_thumb_wrap.cw_thumb_wrap{display:inline;}
.blog .innerpage_content .image_section img, .category .innerpage_content .image_section img {width: 100%;object-fit: cover;padding-top:70px;}
header#masthead{padding:20px 20px;}
.media_item {flex-direction: column;}
.gallery_button_wrap { margin-top: 10px; width: 100%; }
.media_wrap .media_content{width:100%;}
.media_wrap p.media_description{width:100%;}
.inner_section .home_banner_inner_wrap h2 {font-size: 30px;margin-bottom:0px;}
.media_item_wrap .item {margin-bottom: 20px;}
.video_item_wrap .media_item {flex-direction: row;}
.video_item_wrap .gallery_button_wrap{margin-top:0px;}
.media_wrap p.media_title::after{display:none;}
.first_article_wrap {margin-bottom: 20px;}
.features_and_value_additions_section-block .values_image_wrap ul.values_wrap li.value_item:after { content: ''; position: absolute; width: 100vw; height: 1px;background-color: var(--dark-grey-color); bottom: -8px; left: 50%; transform: translatex(-50%); }
.features_and_value_additions_section-block .values_image_wrap ul.values_wrap li.value_item:last-child:after{display:none;}
.download_assets_section-block .row {align-items: flex-end;flex-direction: row;}
.download_assets_section-block .row [class*="col-"]:first-child { width: 65%; }
.download_assets_section-block .row [class*="col-"]:nth-child(2) { width: 35%; }
.gallery_wrap{padding: 30px 50px 30px 30px;}
.lg-outer{z-index:9999999 !important;}
.media_item_wrap .item{position:relative;}
.media_item_wrap .item:last-child { margin-bottom: 0px; }
.media_item_wrap .item:after { content: ''; position: absolute; width: calc(100% + 80px); height: 2px; background-color: var(--light-grey-color); left: -30px; bottom: -8px; z-index: 0; }
.gallery_wrap.media_wrap.videos_wrap {padding: 30px;}
.gallery_wrap.media_wrap.videos_wrap .item:after{width: calc(100% + 60px);left: -30px;z-index:0;}
.video_item_wrap .media_item{z-index:1;}
.media_item_wrap .item:last-child:after{display:none}
.location_wrap {color: var(--light-color);}
.post-type-archive-events .events_listing_content .container {width: 100%;max-width: 100%;margin: 0 auto;}
.events_listing_content .event_details .button-link-Light{margin-bottom:0px;}
section.innerpage_content.events_listing_content .row [class*="col-"] a .location_wrap{justify-content: space-between;}
.event_details{align-items: flex-start;}
.blog_post.cw_blog .blog_thumb_wrap.cw_thumb_wrap h5{font-size:25px;font-weight:bold;}
.blog .innerpage_content .row [class*="col-"]:first-child article .blog_post .blog_thumb_wrap.cw_thumb_wrap, .category .innerpage_content .row [class*="col-"]:first-child article .blog_post .blog_thumb_wrap.cw_thumb_wrap{font-size:30px;line-height:1.3;}
.blog #innerpage_content, .category #innerpage_content{padding-bottom:80px !important;}
a.file_wrap {flex-direction: column;align-items: flex-start;}
a.file_wrap span.file_title{padding-left:0px;margin-top:10px;}
.prev-post-nav a span, .next-post-nav a span {display: none;border: unset;}
.prev-post-nav a, .next-post-nav a{min-height:auto;padding:0px;border:unset;}
section#single_banner:before { content: ''; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); width: 60%; height: 100%; background-size: contain; background-repeat: no-repeat; top: 114px;opacity:0.3;}
.top_right_wrap{justify-content: center;}
.extended_image_with_content_section h5, .big_text_with_content_section h5, section.image_with_short_content_section h5, .compliance_and_whistleblowing_section h5, .full_width_content .content_wrap h5{font-size:22px;}
.download_wrap {margin-bottom: 20px;}
section.bottom-box-section:after {width: 65%; height: 20%; background-color: var(--border-grey-color); bottom: -20px;}
section.middle-box-section:before{display:none;}
section.team_details_section.bottom-box-section:after {height: 160px;}
.mid-box-animation:after{height: 20%;}
.events_listing_content .blog_post.cw_blog a{padding: 25px 20px;}
.blog .blog_post.cw_blog a:after, .category .blog_post.cw_blog a:after{display:none;}
.blog .blog_post.cw_blog a:hover img, .category .blog_post.cw_blog a:hover img{left:20px;}
.background-box-move-animation .image-wrap{position:relative;}
.background-box-move-animation .image-wrap::after { content: ""; width: 8%; height: 70%; background: var(--primary-color); position: absolute; z-index: 1; top: 56%; }
.background-box-move-animation.animation_active .image-wrap::after{animation-name:left-move-animation;animation-duration: 0.5s;animation-fill-mode: forwards;}
@keyframes left-move-animation { 0% {top:0;opacity: 0;} 50% {left:30%;opacity: 1;} 51%{top:56%;} 100%{left:0;} }
.remove-animation-mobile:after{display:none;}
.footer_content_wrap{padding-top:20px;margin-bottom:0px;}
.partner_links_wrap{justify-content: space-between;}
.blog article .blog_post.cw_blog a, .category article .blog_post.cw_blog a{margin-bottom: 20px !important;display: block;}
.footer_top_row .button_wrap{margin-top:0px;}
.desktop-hidden{display:block;}
.recent_articles_section-block .desktop-hidden img {margin-bottom: 25px;}
.recent_articles_section-block.recent_events_section-block{padding-top:30px !important;}
.recent_pressrelease_section-block .title_content_wrap {padding: 0px 0px 20px 0px;}
.recent_articles_section-block .tns-controls{top: -68px;}
.btg_values_section-block .cta_wrap .button_wrap a, .btg_values_section-block .cta_content_wrap {padding: 30px 20px 30px 20px;}
.value_item p {margin-bottom: 0px;}
.btg_values_section-block .values_row .content_wrap{padding:0px 0px 30px 0px;}
.footer_col ul li a{font-size:14px;}
.footer_col ul li{margin-bottom:10px;}
.footer_middle_menus h6{margin-bottom:15px;}
.footer_middle_row, .partners_row{margin-bottom:0px;padding-bottom:0px;}
.footer_middle_menus .footer_col:nth-child(3), .footer_middle_menus .footer_col:nth-child(4) {margin-bottom: 20px;}
footer#colophon .lines_wrap {display: none;}
footer#colophon{padding: 35px 0px 0px 0px;}
.footer_top_row{margin-bottom: 60px;}
.three_column_title_section-block, .three_column_title_section-block .container-fluid{margin-bottom:0px;padding-bottom:30px;}
.boxed_links_section-block h3, .features_and_value_additions_section-block h3 {text-align: left;}
.features_and_value_additions_section-block .content_wrap, section.features_and_value_additions_section-block .bottom_values_wrap h3 {margin-bottom: 0px !important;}
.three_column_title_section-block .bottom_row .col-md-12 .content_wrap h3{margin-bottom:0px;}
.features_and_value_additions_section-block .top_features_wrap .features_wrap .features_item h5{font-size:23px;}
.features_and_value_additions_section-block .bottom_values_wrap{margin-bottom: 20px;}
.two_column_title_solutions_section-block::before{display:none;}
.two_column_title_section-block .bottom_section:after { content: ''; position: absolute; width: 100%; height: 230px; background-image: url(../../../wp-content/uploads/2022/07/BTG-gray-line.svg); background-size: contain; background-repeat: no-repeat; background-position: top center; z-index: -3; right: 0px; top: -100px; opacity: 0.3; }
.two_column_title_solutions_section-block .bottom_section .solutions_wrap .solution_item .solution_content h5{font-size:20px;}
.two_column_title_section-block .top_section h4{font-size: 18px;font-weight: 400;text-align:center;}
.team_details_section .content_wrap h5.name{font-size:20px;}
.team_details_section .content_wrap p.description{font-size:16px;}
.two_column_title_section-block .first_title_box{padding: 40px 0px 20px 0px;}
.two_column_title_section-block .bottom_section { margin-top: 0px; padding-top: 30px!important; }
section.innerpage_content.events_listing_content .row [class*="col-"]:nth-child(odd) a {background-color: var(--primary-color) !important;}
section.innerpage_content.events_listing_content .row [class*="col-"]:nth-child(even) a{background-color: var(--primary-light-color);}
h1.news_page_content_title { margin-bottom: 20px; margin-top: 60px; }
.two_column_title_section-block .bottom_section::before{display:none;}
.two_column_title_section-block .second_title_box:after { left: 50%; transform: translateX(-50%); }
.three_column_title_section-block .title_boxes_wrap{display:unset;float:unset;}
.three_column_title_section-block .title_content_wrap.second_title_box h4{text-align:center;}
.two_column_title_solutions_section-block .top_section .top_row [class*="col-"]{width:100%;}
.image_with_short_content_section .row [class*="col-"]:first-child {width: 100%;padding: 0px 30px;}
.image_with_short_content_section .row [class*="col-"]:nth-child(2) {padding: 0px;}
div#loader_div{top:0px;align-items: center;justify-content: center;}
.download_assets_section-block .content_wrap p{font-size:16px;}
.footer_content_wrap {display: block;}
.three_column_title_section-block .title_boxes_wrap h1, .two_column_title_section-block h1 {font-size: 30px;margin-bottom: 10px;}
.three_column_title_section-block .title_boxes_wrap p:last-child, .two_column_title_section-block .first_title_box :last-child, .three_column_title_section-block .bottom_section .bottom_content_wrap .content_wrap:nth-child(2) p:last-child { margin-bottom: 0px; }
.two_column_title_section-block .bottom_section .content_wrap_left{padding:0px;}
section.image_section-block {padding: 0px !important;}
.features_and_value_additions_section-block .values_image_wrap ul.values_wrap li{padding-right:0px !important;}
.about_tab_title ul.nav.nav-tabs::-webkit-scrollbar { width: 100%;height:5px; background-color:transparent; } 
.about_tab_title ul.nav.nav-tabs::-webkit-scrollbar-thumb { width:53%;background-color: var(--primary-color); }
.about_tab_title ul.nav.nav-tabs::-webkit-scrollbar-track {background-color: var(--primary-border-light-color); }
.events_listing_content .event_details img{margin-top:15px !important;}
.trp-language-switcher .trp-ls-shortcode-language{top: 60px !important;}
.two_column_title_section-block .row.bottom_row .content_wrap h3 {margin-bottom: 10px;}
.three_column_title_section-block .bottom_row .col-md-12 > .content_wrap{padding-bottom:10px;}
}
@media (max-width: 668px)
{
body{font-size:16px;}	
.cw_blog_single_content p, .cw_blog_single_content ul li,.cw_blog_single_content p a, .cw_blog_single_content ul li a{font-size:18px;}
.cw_blog_single_content .wp-block-columns.stat_column.stat_column2 > div:first-child{flex-basis: 100%!important;}
.container{max-width:600px;}	
#gototop{bottom:20px;right:10px;}
.cw_tabs .nav-tabs .nav-item{margin-left:5px;margin-right:5px;}	
}
@media (max-width: 576px)
{
.container{max-width:510px;}
}
@media (max-width: 480px)
{
.container{max-width:420px;}	
.footer_middle_menus h6{font-size:15px;}
ul#breadcrumbs{flex-wrap:wrap;}
}

@media (max-width: 420px)
{
.container{max-width:365px;}
}

@media (max-width: 390px)
{
.buttons_wrap{display:block;}	
.container{max-width:335px;}
}